
<form>
  <span>Name:</span>
  <input type="checkbox" (click)="enabler()"/>

  <select name="color" [(ngModel)]="selectedColor" [disabled]="isDisabled">
    <option *ngFor="let color of colors">
      {{ color }}
    </option>
  </select>

  <br/>
  <br/>

  <span>Classes:</span><br/>
  <select multiple name="class" (change)="addClass($event)">
    <option *ngFor="let class of classes" [value]="class.className">
      {{ class.displayName }}
    </option>
  </select>
</form>

<span>Name: {{ name }}</span>
<br/>
<span [ngClass]="selectedClasses.join(' ')" [ngStyle]="{'color': selectedColor}">
  color: {{ selectedColor }}
</span>